name: Build FGO God Mode

on:
  workflow_dispatch:
  push:
    branches: [ "master", "main" ]
    paths-ignore:
      - "**.md"

jobs:
  build:
    name: Build Zygisk Module
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive  # <--- 关键修复：这里会下载所有依赖库！

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with Gradle
        run: ./gradlew :module:assembleRelease

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FGO-GodMode-Release
          path: module/release/*.zip
